@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    max-width: 100vw;
  }
}

@layer utilities {
  .text-collection{
    opacity: 0;
  }
  .collection:hover img {
    filter: blur(2px);
  }
  .collection:hover .text-collection{
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    opacity: 1;
  }
  .modal{
    box-shadow: -2px 3px 10px 1px rgba(0,0,0,0.72);
    -webkit-box-shadow: -2px 3px 10px 1px rgba(0,0,0,0.72);
    -moz-box-shadow: -2px 3px 10px 1px rgba(0,0,0,0.72);
  }
}